.view-wrapper {
  width:100%;
  display:flex;
  justify-content: center;
  height:auto;
  width:350px;
}
#prevBtn {
  display:flex;
  justify-content: center;
  text-align:center;
  max-height:100%;
  position:relative;
  width:5%;
}
#nextBtn {
  display:flex;
  justify-content: center;
  text-align:center;
  max-height:100%;
  position:relative;
  width:2%;
}
.desc {
  display:block;
  position:absolute;
  top:50%;
  padding:0 5px;
  font-size:25px;
  font-weight:600;
  background-color:#cccccc;
  opacity: 0.5;
}
.image-box img {
  display:block;
  width:100%;
  max-width:100%;
  height:auto;
  padding:0 15px;
}
