.scroll-banner ul {
  list-style: none;
  padding:0;
  margin:0;
  display:flex;
  flex-wrap:nowrap;
  justify-content: center;
  width:800px;
}

.scroll-banner img {
  max-width:100%;
  height:auto;
  display:block;
  transform: scale(0.5);
}

.select img{
  transform:scale(1.0);
}
